<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head') %>

    <title>Wave Runners</title>
    <link rel="stylesheet" href="styles/home.css">
</head>

    <body>

        <%- include('partials/header') %>
            <main>
                <section class="banners">
                    <a href="/products">
                        <div class="category surf">
                            <div class="overlay">
                                <h3 class="category-title">Surf</h3>
                            </div>
                        </div>
                    </a>
                    <a href="/products">
                        <div class="category kitesurf">
                            <div class="overlay">
                                <h3 class="category-title">Kitesurf</h3>
                            </div>
                        </div>
                    </a>
                    <a href="/products">
                        <div class="category paddlesurf">
                            <div class="overlay">
                                <h3 class="category-title">Paddlesurf</h3>
                            </div>
                        </div>
                    </a>
                    <a href="/products">
                        <div class="category wakeboard">
                            <div class="overlay">
                                <h3 class="category-title">Wakeboard</h3>
                            </div>
                        </div>
                    </a>
                    <a href="/products">
                        <div class="category snorkel">
                            <div class="overlay">
                                <h3 class="category-title">Snorkel</h3>
                            </div>
                        </div>
                    </a>
                    <a href="/products">
                        <div class="category windsurf">
                            <div class="overlay">
                                <h3 class="category-title">Windsurf</h3>
                            </div>
                        </div>
                    </a>
                </section>
                <section class="index">
                    <div class="category-index">
                        <a href="">
                            <h3>Surf</h3>
                        </a>
                        <ul>
                            <li><a href="">Trajes</a></li>
                            <li><a href="">Tablas</a></li>
                            <li><a href="">Cera</a></li>
                        </ul>
                    </div>
                    <div class="category-index">
                        <a href="">
                            <h3>Kitesurf</h3>
                        </a>
                        <ul>
                            <li><a href="">Trajes</a></li>
                            <li><a href="">Tablas</a></li>
                            <li><a href="">Cera</a></li>
                        </ul>
                    </div>
                    <div class="category-index">
                        <a href="">
                            <h3>Paddlesurf</h3>
                        </a>
                        <ul>
                            <li><a href="">Trajes</a></li>
                            <li><a href="">Tablas</a></li>
                            <li><a href="">Cera</a></li>
                        </ul>
                    </div>
                    <div class="category-index">
                        <a href="">
                            <h3>Wakeboard</h3>
                        </a>
                        <ul>
                            <li><a href="">Trajes</a></li>
                            <li><a href="">Tablas</a></li>
                            <li><a href="">Cera</a></li>
                        </ul>
                    </div>
                    <div class="category-index">
                        <a href="">
                            <h3>Snorkel</h3>
                        </a>
                        <ul>
                            <li><a href="">Trajes</a></li>
                            <li><a href="">Tablas</a></li>
                            <li><a href="">Cera</a></li>
                        </ul>
                    </div>
                    <div class="category-index">
                        <a href="">
                            <h3>Windsurf</h3>
                        </a>
                        <ul>
                            <li><a href="">Trajes</a></li>
                            <li><a href="">Tablas</a></li>
                            <li><a href="">Cera</a></li>
                        </ul>
                </section>
            </main>

            <%- include('partials/footer') %>

    </body>

</html>