<footer>
    <div class="footer-container">
        <div class="footer-left">
            <ul>
                <li><a href="">Preguntas Frecuentes</a></li>
                <li><a href="">Contactanos</a></li>
                <li><a href="/products/create">Nuevo Item</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>