<div class="indicators">
    <div class="indicator">
        <p class="indicator-title">Total de Productos</p>
        <p class="kpi"><%= productsAmount %></p>
    </div>
    <div class="indicator">
        <p class="indicator-title">Total de Usuarios</p>
        <p class="kpi"><%= usersAmount %></p>
    </div>
    <div class="indicator">
        <p class="indicator-title">Total de Ventas</p>
        <p class="kpi">15</p>
    </div>
</div>